.page-home { position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }

.page-home #main { min-height: auto; height: 100%; padding-top: 0; }

.page-home #footer { display: none; }

.page-home .home-main-slider { position: relative; }

.page-home.start { opacity: 1; visibility: visible; position: static; }

.page-home.start #footer { display: block; }

.home-section { box-sizing: border-box; display: flex; align-items: center; padding: 240px 0; }

.home-section .home-section-inner { width: 100%; }

@media screen and (max-width: 1280px) { .home-section { padding: 180px 0; } }

@media screen and (max-width: 1023px) { .home-section { padding: 160px 0; } }

@media screen and (max-width: 767px) { .home-section { padding: 120px 0; } }

.home-section .home-section-header { margin-bottom: 120px; }

.home-section .home-section-header h2 { font-size: 60px; line-height: 1.18333em; font-weight: 700; margin-bottom: 20px; }

.home-section .home-section-header p { font-size: 24px; line-height: 1.58333em; font-weight: 400; }

@media screen and (max-width: 1280px) { .home-section .home-section-header { margin-bottom: 80px; }
  .home-section .home-section-header h2 { font-size: 50px; }
  .home-section .home-section-header p { font-size: 20px; } }

@media screen and (max-width: 1023px) { .home-section .home-section-header { margin-bottom: 70px; }
  .home-section .home-section-header h2 { font-size: 36px; margin-bottom: 12px; }
  .home-section .home-section-header p { font-size: 16px; } }

@media screen and (max-width: 767px) { .home-section .home-section-header { margin-bottom: 50px; }
  .home-section .home-section-header h2 { font-size: 26px; }
  .home-section .home-section-header p { font-size: 16px; } }

.home-section .container { padding: 0 13.54167vw; width: 100%; box-sizing: border-box; margin: 0 auto; }

@media screen and (min-width: 1921px) { .home-section .container { padding: 0 260px; } }

@media screen and (max-width: 1280px) { .home-section .container { padding: 0 9.375vw; } }

@media screen and (max-width: 1023px) { .home-section .container { padding: 0 5.98958vw; } }

@media screen and (max-width: 767px) { .home-section .container { padding: 0 6.93333vw; } }

.home-main-slider { position: relative; width: 100%; height: 100vh; height: var(--app-height); background: #fff; overflow: hidden; }

.home-main-slider .home-main-slider-inner { position: absolute; top: 100px; left: 80px; right: 80px; bottom: 80px; overflow: hidden; }

@media screen and (max-width: 1280px) { .home-main-slider .home-main-slider-inner { left: 52px; right: 52px; bottom: 52px; } }

@media screen and (max-width: 1023px) { .home-main-slider .home-main-slider-inner { top: 82px; left: 46px; right: 46px; bottom: 46px; } }

@media screen and (max-width: 767px) { .home-main-slider .home-main-slider-inner { top: 74px; left: 26px; right: 26px; bottom: 26px; } }

.home-main-slider .logo { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.home-main-slider .logo img { display: block; }

.home-main-slider .slides { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.home-main-slider .slides .slide-item { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.home-main-slider .slide-nav { position: absolute; bottom: 50px; right: 50px; opacity: 0; visibility: hidden; }

@media screen and (max-width: 1023px) { .home-main-slider .slide-nav { bottom: 40px; right: 40px; left: 40px; } }

@media screen and (max-width: 767px) { .home-main-slider .slide-nav { bottom: 30px; right: 26px; left: 26px; } }

.home-main-slider .scrolldown { position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; width: 2px; background: rgba(255, 255, 255, 0.5); z-index: 4; height: 100px; }

.home-main-slider .scrolldown span { display: block; position: absolute; width: 2px; background: #fff; height: 100%; animation: scrolldown-bar infinite 2.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@media screen and (max-width: 1023px) { .home-main-slider .scrolldown { display: none; } }

.slide-item { position: relative; opacity: 0; visibility: hidden; z-index: -1; transition: opacity 500ms, visibility 500ms, z-index 500ms; }

.slide-item .slide-item-outer { position: absolute; top: 0; left: 0; width: 100%; bottom: 0; overflow: hidden; }

.slide-item .slide-item-inner { position: absolute; top: 0; left: 0; bottom: 0; width: calc(100vw - 160px); }

@media screen and (max-width: 1280px) { .slide-item .slide-item-inner { width: calc(100vw - 104px); } }

@media screen and (max-width: 1023px) { .slide-item .slide-item-inner { width: calc(100vw - 92px); } }

@media screen and (max-width: 767px) { .slide-item .slide-item-inner { width: calc(100vw - 52px); } }

.slide-item.prev, .slide-item.current { opacity: 1; visibility: visible; z-index: auto; }

.slide-item.current { z-index: 2; }

.slide-item .slide-bg { position: absolute; width: 100%; height: 100%; background: 50% 50% no-repeat; background-size: cover; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { .slide-item .slide-bg { transform: none !important; } }

.slide-item .slide-bg .slide-bg-over { position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.1); z-index: 2; display: block; }

.slide-item .slide-bg video { display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { .slide-item .slide-bg video { min-width: 100%; min-height: 100%; } }

.slide-item .slide-content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 7; white-space: nowrap; text-align: center; display: flex; flex-direction: column; justify-content: center; }

@media screen and (max-width: 767px) { .slide-item .slide-content { font-size: 32px; max-width: 300px; width: 100%; white-space: normal; } }

.slide-item .slide-content .slide-title { font-size: 80px; line-height: 1.35em; letter-spacing: -0.01em; font-weight: 700; color: #fff; margin: 0 auto; margin-bottom: 60px; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { .slide-item .slide-content .slide-title, .slide-item .slide-content .slide-title * { pointer-events: none; user-select: none; -ms-user-select: none; } }

@media screen and (max-width: 1280px) { .slide-item .slide-content .slide-title { font-size: 60px; margin-bottom: 40px; } }

@media screen and (max-width: 1023px) { .slide-item .slide-content .slide-title { font-size: 48px; } }

@media screen and (max-width: 767px) { .slide-item .slide-content .slide-title { font-size: 32px; }
  .slide-item .slide-content .slide-title br { display: none; } }

.slide-item .slide-content .slide-title .sentence { display: block; filter: blur(0px); overflow: hidden; }

.slide-item .slide-content .slide-title .sentence span { display: block; }

@media screen and (max-width: 1023px) { .slide-item .slide-content .slide-title .sentence { filter: none; } }

.slide-item .slide-content .btn-cta { width: 144px; height: 50px; margin: 0 auto; filter: blur(0px); }

.slide-item .slide-content .btn-cta a { display: flex; align-items: center; justify-content: center; box-sizing: border-box; width: 100%; height: 100%; padding: 0; }

.slide-item .slide-content .btn-cta span { display: block; font-size: 16px; font-weight: 400; letter-spacing: -0.015em; text-align: center; }

@media screen and (max-width: 1023px) { .slide-item .slide-content .btn-cta { width: 116px; height: 42px; filter: none; }
  .slide-item .slide-content .btn-cta span { font-size: 14px; } }

.slide-nav { z-index: 3; }

.slide-nav ul { display: flex; }

.slide-nav ul li { margin-right: 12px; width: 50px; transition: width 500ms cubic-bezier(0.77, 0, 0.175, 1); }

.slide-nav ul li:last-child { margin-right: 0 !important; }

.slide-nav ul li.active { width: 240px; }

.slide-nav ul li.active .label { right: 0; }

.slide-nav ul li:not(.active) .slide-nav-item .progress .bar { transition: width 200ms; }

.slide-nav ul li:not(.active) .slide-nav-item:hover .progress .bar { width: 100% !important; }

@media screen and (max-width: 1023px) { .slide-nav ul li { width: 86px; }
  .slide-nav ul li.active { width: 640px; } }

@media screen and (max-width: 767px) { .slide-nav ul li { width: 44px; margin-right: 8px; }
  .slide-nav ul li.active { width: 600px; } }

@media screen and (max-width: 380px) { .slide-nav ul li { width: 44px; margin-right: 8px; }
  .slide-nav ul li.active { width: 300px; } }

.slide-nav.slide-nav--tab li.active .slide-nav-item .progress .bar { width: 100%; }

@media screen and (max-width: 1023px) { .slide-nav.slide-nav--tab li { width: 86px; }
  .slide-nav.slide-nav--tab li.active { width: 400px; } }

.slide-nav[data-theme="dark"] .slide-nav-item { color: #000; }

.slide-nav[data-theme="dark"] .slide-nav-item .progress { background: rgba(0, 0, 0, 0.1); }

.slide-nav[data-theme="dark"] .slide-nav-item .progress .bar { background: #000; }

.slide-nav-item { color: #fff; width: 100%; height: 30px; position: relative; display: flex; overflow: hidden; }

.slide-nav-item .no { display: block; font-family: CeraPro, sans-serif; font-weight: 600; line-height: 16px; font-size: 16px; }

.slide-nav-item .label { font-size: 14px; line-height: 16px; overflow: hidden; display: block; left: 26px; position: absolute; top: 0; right: 100%; transition: right 500ms cubic-bezier(0.77, 0, 0.175, 1); height: 16px; }

.slide-nav-item .progress { display: block; position: absolute; left: 0; right: 0; bottom: 0; height: 2px; background: rgba(255, 255, 255, 0.5); }

.slide-nav-item .progress .bar { display: block; position: absolute; left: 0; top: 0; bottom: 0; background: #fff; width: 0%; }

@media screen and (max-width: 1023px) { .slide-nav-item { height: 26px; }
  .slide-nav-item .no { font-size: 14px; }
  .slide-nav-item .label { font-size: 12px; } }

@keyframes scrolldown-bar { 0% { top: 0;
    bottom: 100%;
    height: 0; }
  30% { top: 0;
    bottom: 100%;
    height: 100%; }
  31% { top: 0%;
    bottom: 100%; }
  60%, 100% { top: 100%;
    bottom: 0;
    height: 0%; } }

body.en .font-minguk { font-family: 'CeraPro', sans-serif !important; }

body.en .home-main-slider .slide-item .slide-content .slide-title { font-size: 84px; font-weight: 500; line-height: 1.24; letter-spacing: -1.26px; }

@media screen and (max-width: 1280px) { body.en .home-main-slider .slide-item .slide-content .slide-title { font-size: 64px; line-height: 1.34; letter-spacing: -0.64px; } }

@media screen and (max-width: 1023px) { body.en .home-main-slider .slide-item .slide-content .slide-title { font-size: 50px; line-height: 1.28; letter-spacing: -0.5px; } }

@media screen and (max-width: 767px) { body.en .home-main-slider .slide-item .slide-content .slide-title { font-size: 34px; line-height: 1.35; letter-spacing: -0.34px; } }

body.en .home-section .home-section-header h2 { font-size: 62px; font-weight: 500; line-height: 1.243; letter-spacing: -0.93px; }

@media screen and (max-width: 1280px) { body.en .home-section .home-section-header h2 { font-size: 52px; line-height: 1.35; letter-spacing: -0.52px; } }

@media screen and (max-width: 1023px) { body.en .home-section .home-section-header h2 { font-size: 38px; line-height: 1.26; letter-spacing: -0.38px; } }

@media screen and (max-width: 767px) { body.en .home-section .home-section-header h2 { font-size: 28px; line-height: 1.36; letter-spacing: -0.28px; } }

body.en .slide-item .slide-content { white-space: inherit; width: 90%; }

.home-intro { width: 100vw; height: 100vh; height: var(--app-height); z-index: 99999; position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }

.home-intro .logo { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: hidden; }

.home-intro .logo svg { width: 290px; display: block; overflow: hidden; }

@media screen and (max-width: 1280px) { .home-intro .logo svg { width: 230px; } }

@media screen and (max-width: 1023px) { .home-intro .logo svg { width: 270px; } }

@media screen and (max-width: 767px) { .home-intro .logo svg { width: 200px; } }

.home-intro .curtain { position: absolute; width: 100%; height: 100%; background: transparent; transform: scaleY(1.01); }

.home-intro .curtain .curtain-col { position: absolute; left: 0; right: 0; height: 50.01%; overflow: hidden; background: #fff; }

.home-intro .curtain .curtain-top { top: 0; }

.home-intro .curtain .curtain-top .curtain-inner { top: 0; }

.home-intro .curtain .curtain-bottom { bottom: 0; }

.home-intro .curtain .curtain-bottom .curtain-inner { bottom: 0; }

.home-intro .curtain .curtain-inner { position: absolute; left: 0; right: 0; width: 100vw; height: 100vh; height: var(--app-height); background: #fff; }

.home-intro .home-intro-bg { position: absolute; top: 0; right: 0; left: 0; bottom: 0; overflow: hidden; }

.home-intro .home-intro-bg .bg-inner { position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: 50% 50% no-repeat; background-size: cover; transform: scale(1.25); }

.home-intro .home-intro-bg .bg-dimmed { position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.1); display: block; }

.home-intro .home-intro-bg--back { left: auto; width: 100%; }

.home-intro .home-intro-bg--back .bg-inner { width: 100vw; right: 0; left: auto; }

.home-intro .home-intro-bg--over { overflow: hidden; top: 100px; left: 80px; right: 80px; bottom: 80px; }

@media screen and (max-width: 1280px) { .home-intro .home-intro-bg--over { left: 52px; right: 52px; bottom: 52px; } }

@media screen and (max-width: 1023px) { .home-intro .home-intro-bg--over { top: 82px; left: 46px; right: 46px; bottom: 46px; } }

@media screen and (max-width: 767px) { .home-intro .home-intro-bg--over { top: 74px; left: 26px; right: 26px; bottom: 26px; } }

.home-intro .home-intro-bg--over .bg-inner { width: auto; height: auto; top: -100px; left: -80px; right: -80px; bottom: -80px; }

@media screen and (max-width: 1280px) { .home-intro .home-intro-bg--over .bg-inner { left: -52px; right: -52px; bottom: -52px; } }

@media screen and (max-width: 1023px) { .home-intro .home-intro-bg--over .bg-inner { top: -82px; left: -46px; right: -46px; bottom: -46px; } }

@media screen and (max-width: 767px) { .home-intro .home-intro-bg--over .bg-inner { top: -74px; left: -26px; right: -26px; bottom: -26px; } }

.home-intro .home-intro-bg--over .bg-inner.compact { top: 0; left: 0; right: 0; bottom: 0; }

.home-section-brand { background-color: #a73ea3; box-sizing: border-box; color: #fff; }

.home-section-brand .home-section-inner { overflow: hidden; }

.home-section-brand .brand-container { position: relative; }

.home-section-brand .brand-container .home-section-header { position: absolute; top: 0; left: 0; }

@media screen and (max-width: 1023px) { .home-section-brand .brand-container .home-section-header { position: relative; }
  .home-section-brand .brand-container .home-section-header br { display: none; } }

.home-section-brand .brand-images { position: relative; margin: 0 auto; width: 30.41667vw; height: 38.02083vw; transform: translate3d(0, 0, 0); }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images { width: 41.36667vw; height: 51.70833vw; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images { width: 100%; height: 83.64583vw; margin-right: 0; display: flex; justify-content: flex-end; } }

.home-section-brand .brand-images[data-dir="next"] .image .brand { left: auto; right: 0; }

.home-section-brand .brand-images[data-dir="next"] .image .brand .img { left: auto; right: 0; }

.home-section-brand .brand-images .image { position: absolute; z-index: 1; }

.home-section-brand .brand-images .image .brand { position: absolute; left: 0; top: 0; bottom: 0; width: 0%; overflow: hidden; }

.home-section-brand .brand-images .image .brand .img { width: 30.41667vw; position: absolute; top: 0; bottom: 0; left: 0; transform: scale(1.01); }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .image .brand .img { width: 41.36667vw; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .image .brand .img { width: 66.91667vw; } }

.home-section-brand .brand-images .image-c { width: 30.41667vw; height: 38.02083vw; top: 0; left: 0; }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .image-c { width: 41.36667vw; height: 51.70833vw; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .image-c { width: 66.91667vw; height: 83.64583vw; margin-right: 0; margin-left: auto; left: auto; right: 0; } }

.home-section-brand .brand-images .image-l, .home-section-brand .brand-images .image-r { width: 15.10417vw; height: 18.95833vw; }

.home-section-brand .brand-images .image-l .brand .img, .home-section-brand .brand-images .image-r .brand .img { width: 15.10417vw; }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .image-l, .home-section-brand .brand-images .image-r { width: 20.54167vw; height: 25.78333vw; }
  .home-section-brand .brand-images .image-l .brand .img, .home-section-brand .brand-images .image-r .brand .img { width: 20.54167vw; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .image-l, .home-section-brand .brand-images .image-r { width: 33.22917vw; height: 41.70833vw; }
  .home-section-brand .brand-images .image-l .brand .img, .home-section-brand .brand-images .image-r .brand .img { width: 33.22917vw; } }

.home-section-brand .brand-images .image-l { top: 42.46575%; right: 100%; margin-right: 40px; }

@media screen and (max-width: 1280px) { .home-section-brand .brand-images .image-l { margin-right: 28px; } }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .image-l { margin-right: 20px; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .image-l { margin-right: 0px; z-index: 3; top: 60%; left: 0; } }

.home-section-brand .brand-images .image-r { top: 19.17808%; left: 100%; margin-left: 40px; }

@media screen and (max-width: 1280px) { .home-section-brand .brand-images .image-r { margin-left: 28px; } }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .image-r { margin-left: 20px; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .image-r { display: none; } }

.home-section-brand .brand-images .brand { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; transform: translate3d(0, 0, 0); }

.home-section-brand .brand-images .brand .img { position: absolute; width: 30.41667vw; height: 100%; top: 0; left: 0; background: 50% 50% no-repeat; background-size: cover; transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); will-change: transform; }

.home-section-brand .brand-images .prev .brand .img, .home-section-brand .brand-images .next .brand .img { width: 15.10417vw; }

.home-section-brand .brand-images .btn-more { position: absolute; left: 50%; top: 50%; display: block; z-index: 10; width: 194px; height: 194px; margin-left: 33%; margin-top: 11%; width: 10.10417vw; height: 10.10417vw; margin-top: 3.75vw; margin-left: 10vw; }

.home-section-brand .brand-images .btn-more .circle { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; width: 100%; height: 100%; align-items: center; justify-content: center; border-radius: 50%; border: solid 1px #ffffff; transition: width 400ms ease, height 400ms ease; box-sizing: border-box; }

.home-section-brand .brand-images .btn-more .label { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 1; transition: opacity 200ms; transition-delay: 200ms; font-size: 18px; font-weight: 500; }

.home-section-brand .brand-images .btn-more .arrow { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; transition: opacity 200ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1); transform: translate(-80%, -50%); transition-delay: 0ms; background: url(../../img/home/ico-arrow.svg) 50% 50% no-repeat; width: 56px; height: 21px; background-size: contain; }

.home-section-brand .brand-images .btn-more .label { font-size: 0.83333vw; white-space: nowrap; }

.home-section-brand .brand-images .btn-more .arrow { width: 2.91667vw; height: 1.09375vw; }

@media screen and (max-width: 1280px) { .home-section-brand .brand-images .btn-more { width: 13.4375vw; height: 13.4375vw; margin-top: 2.73438vw; margin-left: 8.20313vw; }
  .home-section-brand .brand-images .btn-more .label { font-size: 1.25vw; }
  .home-section-brand .brand-images .btn-more .arrow { width: 4.375vw; height: 1.64063vw; } }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .btn-more { width: 18.61979vw; height: 18.61979vw; margin-top: 3.25521vw; margin-left: 11.06771vw; }
  .home-section-brand .brand-images .btn-more .label { font-size: 1.82292vw; }
  .home-section-brand .brand-images .btn-more .arrow { width: 6.25vw; height: 2.34375vw; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .btn-more { display: none; } }

.home-section-brand .brand-images:hover .brand .img { transform: scale(1.125); }

.home-section-brand .brand-images:hover .btn-more .brand-link { width: 100%; height: 100%; }

.home-section-brand .brand-images:hover .btn-more .circle { width: 110%; height: 110%; }

.home-section-brand .brand-images:hover .btn-more .label { opacity: 0; transition-delay: 0ms; }

.home-section-brand .brand-images:hover .btn-more .arrow { opacity: 1; transform: translate(-50%, -50%); transition-delay: 200ms; }

.home-section-brand .logos { margin-bottom: -60px; }

.home-section-brand .logos .swiper-container { overflow: visible; }

.home-section-brand .logos .swiper-slide { width: auto; display: flex; }

.home-section-brand .logos .swiper-wrapper { display: flex; align-items: center; }

.home-section-brand .logos .logo-item { padding: 60px 0px; }

.home-section-brand .logos .logo-item a { display: flex; align-items: center; justify-content: center; }

.home-section-brand .logos .logo-item a img { display: block; opacity: .3; transition: opacity 500ms; height: 90px; }

@media screen and (max-width: 1280px) { .home-section-brand .logos .logo-item a img { height: 80px; } }

@media screen and (max-width: 1023px) { .home-section-brand .logos .logo-item a img { height: 68px; } }

@media screen and (max-width: 767px) { .home-section-brand .logos .logo-item a img { padding: 10px 0px; height: 50px; } }

.home-section-brand .logos .logo-item a:hover img { opacity: 1; }

.home-section-brand .logos .swiper-slide-active .logo-item a img { opacity: 1; }

.home-section-brand .logos .swiper-container .swiper-wrapper { cursor: url(../../img/common/mouse-slide-w.svg) 50 50, auto !important; }

.home-section-brand .brand-images { cursor: url(../../img/common/mouse-slide-w.svg) 50 50, auto !important; }

.home-section-brand .brand-images a { cursor: url(../../img/common/mouse-slide-w.svg) 50 50, auto !important; }

.home-section-brand .logo-item a { cursor: url(../../img/common/mouse-slide-w.svg) 50 50, auto !important; }

.home-section-wellnessbook { padding: 0; }

.home-section-wellnessbook .wellnessbook-grid { display: flex; width: 100%; }

@media screen and (max-width: 1023px) { .home-section-wellnessbook .wellnessbook-grid .pin-spacer, .home-section-wellnessbook .wellnessbook-grid .col-left { display: none !important; } }

.home-section-wellnessbook .wellnessbook-grid .col-left .col-inner, .home-section-wellnessbook .wellnessbook-grid .col-right .col-inner { box-sizing: border-box; padding: 240px 0; }

@media screen and (max-width: 1280px) { .home-section-wellnessbook .wellnessbook-grid .col-left .col-inner, .home-section-wellnessbook .wellnessbook-grid .col-right .col-inner { padding: 180px 0; } }

@media screen and (max-width: 1023px) { .home-section-wellnessbook .wellnessbook-grid .col-left .col-inner, .home-section-wellnessbook .wellnessbook-grid .col-right .col-inner { padding: 160px 0; } }

@media screen and (max-width: 767px) { .home-section-wellnessbook .wellnessbook-grid .col-left .col-inner, .home-section-wellnessbook .wellnessbook-grid .col-right .col-inner { padding: 120px 0; } }

@media screen and (max-width: 1023px) { .home-section-wellnessbook .wellnessbook-grid .col-left .col-inner, .home-section-wellnessbook .wellnessbook-grid .col-right .col-inner { padding-bottom: 0 !important; padding-top: 0 !important; } }

.home-section-wellnessbook .wellnessbook-grid .col-left { overflow: visible !important; width: 25%; min-width: 1px; }

.home-section-wellnessbook .wellnessbook-grid .col-left .col-inner { padding: 0; position: relative; }

.home-section-wellnessbook .wellnessbook-grid .col-left .col-inner .container { padding-left: 4.16667vw; padding-right: 2.08333vw; height: 100vh; height: var(--app-height); position: relative; }

.home-section-wellnessbook .wellnessbook-grid .col-left .col-inner .left-background { position: absolute; z-index: -3; top: 0; left: 0; width: 100%; height: 100%; }

.home-section-wellnessbook .wellnessbook-grid .col-right { flex: 1; }

.home-section-wellnessbook .wellnessbook-grid .col-right .container { padding-right: 4.16667vw; }

@media screen and (max-width: 1023px) { .home-section-wellnessbook .wellnessbook-grid .col-right .container { padding-right: 5.98958vw; } }

@media screen and (max-width: 767px) { .home-section-wellnessbook .wellnessbook-grid .col-right .container { padding-right: 6.93333vw; } }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides { position: absolute; top: 0; bottom: 0; width: 100%; }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item { position: absolute; top: 0; bottom: 0; width: 100%; opacity: 0; visibility: hidden; z-index: -1; }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item.first { opacity: 1; visibility: visible; z-index: 2; }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item.prev, .home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item.current { opacity: 1; visibility: visible; z-index: auto; }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item.current { z-index: 2; }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item .wellness-slide-item-outer { width: 100%; width: 21vw; overflow: visible; }

@media screen and (min-width: 1920px) { .home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item .wellness-slide-item-outer { width: 403.2px; } }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item .wellness-slide-item-outer .wellness-slide-item-inner { position: absolute; top: 0; left: 0; bottom: 0; width: 100%; }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item .wellness-slide-item-outer .wellness-slide-item-inner .wellness-slide-bg { height: auto; -webkit-transform: translateY(-50%) !important; -moz-transform: translateY(-50%) !important; -ms-transform: translateY(-50%) !important; -o-transform: translateY(-50%) !important; transform: translateY(-50%) !important; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); }

.home-section-wellnessbook .wellnessbook-grid .wellness-slides .wellness-slide-item .wellness-slide-item-outer .wellness-slide-item-inner .wellness-slide-bg img { -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }

.home-section-wellnessbook .wellnessbook-grid .book { position: absolute; top: 50%; transform: translateY(-50%); right: 0; }

.home-section-wellnessbook .wellnessbook-grid .book .wellness-thumb { position: relative; left: 0; top: 0; width: 100%; overflow: hidden; }

.home-section-wellnessbook .wellnessbook-grid .book img { display: block; max-width: none; width: 21vw; }

@media screen and (min-width: 1920px) { .home-section-wellnessbook .wellnessbook-grid .book img { width: 403.2px; } }

@media screen and (max-width: 1280px) { .home-section-wellnessbook .wellnessbook-grid .book img { width: 25vw; width: 25vw; } }

@media screen and (max-width: 1023px) { .home-section-wellnessbook .wellnessbook-grid .book img { width: 270px; } }

@media screen and (max-width: 767px) { .home-section-wellnessbook .wellnessbook-grid .book img { width: 200px; } }

.home-section-wellnessbook .col-left .wellness-slide-nav { float: right; position: absolute; right: 50px; bottom: 50px; left: 52px; }

@media screen and (max-width: 1280px) { .home-section-wellnessbook .col-left .wellness-slide-nav { right: 30px; bottom: 30px; left: 30px; } }

.data-bg, .data-bg-mobile { position: absolute; overflow: hidden; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: left center; background-repeat: no-repeat; }

.data-bg.prev, .data-bg.current, .data-bg-mobile.prev, .data-bg-mobile.current { opacity: 1; visibility: visible; z-index: auto; }

.data-bg.current, .data-bg-mobile.current { z-index: 2; }

.data-bg.first, .data-bg-mobile.first { opacity: 1; visibility: visible; z-index: 2; }

.data-bg-mobile.first { z-index: 2; }

.wellness-list { max-width: 1400px; }

.wellness-list ul { display: flex; flex-wrap: wrap; margin: 0 -25px; }

.wellness-list ul li { padding: 0 25px; box-sizing: border-box; width: 33.33333%; margin-bottom: 70px; }

.wellness-list ul li[data-col="2"] { width: 66.66667%; }

.wellness-list ul li[data-col="3"] { width: 100%; }

@media screen and (max-width: 1280px) { .wellness-list ul { margin: 0 -15px; }
  .wellness-list ul li { padding: 0 15px; margin-bottom: 50px; } }

@media screen and (max-width: 767px) { .wellness-list ul { margin: 0 -8px; }
  .wellness-list ul li { padding: 0 8px; margin-bottom: 40px; width: 50%; }
  .wellness-list ul li[data-col="2"] { width: 100%; }
  .wellness-list ul li[data-col="3"] { width: 100%; }
  .wellness-list ul li[data-col-mobile="1"] { width: 50%; }
  .wellness-list ul li[data-col-mobile="2"] { width: 100%; }
  .wellness-list ul li[data-col-mobile="3"] { width: 100%; } }

.wellness-list .actions { display: flex; align-items: center; justify-content: center; margin: 0 auto; margin-top: 30px; }

@media screen and (max-width: 767px) { .wellness-list .actions { margin-top: 20px; } }

.wellness-list .btn-more { border: solid 1px #444444; box-sizing: border-box; display: block; font-size: 16px; padding: 0.8125em 1.875em; }

.wellness-list .btn-more span { display: flex; align-items: center; justify-content: center; }

.wellness-list .btn-more span:after { content: ''; display: block; background: url(../../img/icon/arrow-down.svg) 50% 50% no-repeat; background-size: contain; width: 12px; height: 6px; margin-left: 12px; }

@media screen and (max-width: 1023px) { .wellness-list .btn-more { font-size: 14px; } }

.wellness-list-item .tb { display: block; margin-bottom: 24px; overflow: hidden; }

.wellness-list-item .tb img { display: block; width: 100%; }

.wellness-list-item .post-title { font-size: 24px; line-height: 36px; font-weight: 500; margin-bottom: 12px; }

.wellness-list-item .post-category { display: block; font-size: 18px; line-height: 1.44444em; font-weight: 400; color: #666; }

@media screen and (max-width: 1280px) { .wellness-list-item .tb { margin-bottom: 20px; }
  .wellness-list-item .post-title { font-size: 20px; line-height: 29px; margin-bottom: 8px; }
  .wellness-list-item .post-category { font-size: 15px; } }

@media screen and (max-width: 1023px) { .wellness-list-item .tb { margin-bottom: 18px; }
  .wellness-list-item .post-title { font-size: 15px; line-height: 23px; margin-bottom: 6px; }
  .wellness-list-item .post-category { font-size: 12px; } }

@media screen and (max-width: 767px) { .wellness-list-item .tb { margin-bottom: 12px; } }

.no-touchevents .wellness-list-item .tb img { transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); will-change: transform; }

.no-touchevents .wellness-list-item .tb:hover img { transform: scale(1.125); }

.wellnessbook-header-mobile { position: relative; }

.wellnessbook-header-mobile .wellnessbook-header-mobile-inner { position: relative; padding-top: 160px; color: #fff; }

.wellnessbook-header-mobile .wellnessbook-header-mobile-inner .container { position: relative; }

@media scren and (max-width: 767px) { .wellnessbook-header-mobile .wellnessbook-header-mobile-inner { padding-top: 120px; } }

.wellnessbook-header-mobile .wellnessbook-header-mobile-bg { position: absolute; z-index: -3; top: 0; left: 0; bottom: 60px; width: 100%; }

.wellnessbook-header-mobile .book img { display: block; width: 270px; height: auto; margin: 0 auto; }

.wellnessbook-header-mobile .wellness-slide-nav-container { position: relative; height: 24px; margin-top: 100px; margin-bottom: 40px; }

@media screen and (max-width: 767px) { .wellnessbook-header-mobile .wellness-slide-nav-container { margin-top: 70px; margin-bottom: 30px; } }

.wellness-slide-nav, .wellness-slide-nav-mobile { z-index: 3; }

@media screen and (max-width: 767px) { .wellness-slide-nav, .wellness-slide-nav-mobile { left: 0; width: 100%; } }

.wellness-slide-nav ul, .wellness-slide-nav-mobile ul { display: flex; }

@media screen and (max-width: 1023px) { .wellness-slide-nav ul, .wellness-slide-nav-mobile ul { justify-content: flex-end; } }

.wellness-slide-nav ul li, .wellness-slide-nav-mobile ul li { margin-right: 12px; width: 50px; transition: width 500ms cubic-bezier(0.77, 0, 0.175, 1); }

.wellness-slide-nav ul li:last-child, .wellness-slide-nav-mobile ul li:last-child { margin-right: 0 !important; }

.wellness-slide-nav ul li.active, .wellness-slide-nav-mobile ul li.active { width: 240px; }

.wellness-slide-nav ul li.active .label, .wellness-slide-nav-mobile ul li.active .label { right: 0; }

.wellness-slide-nav ul li:not(.active) .wellness-slide-nav-item .progress .bar, .wellness-slide-nav-mobile ul li:not(.active) .wellness-slide-nav-item .progress .bar { transition: width 200ms; }

.wellness-slide-nav ul li:not(.active) .wellness-slide-nav-item:hover .progress .bar, .wellness-slide-nav-mobile ul li:not(.active) .wellness-slide-nav-item:hover .progress .bar { width: 100% !important; }

@media screen and (max-width: 1023px) { .wellness-slide-nav ul li:not(.active) .wellness-slide-nav-item:hover .progress .bar, .wellness-slide-nav-mobile ul li:not(.active) .wellness-slide-nav-item:hover .progress .bar { width: 0 !important; } }

@media screen and (max-width: 1023px) { .wellness-slide-nav ul li, .wellness-slide-nav-mobile ul li { width: 86px; }
  .wellness-slide-nav ul li.active, .wellness-slide-nav-mobile ul li.active { width: 400px; } }

@media screen and (max-width: 767px) { .wellness-slide-nav ul li, .wellness-slide-nav-mobile ul li { width: 44px; margin-right: 8px; }
  .wellness-slide-nav ul li.active, .wellness-slide-nav-mobile ul li.active { width: 600px; } }

@media screen and (max-width: 380px) { .wellness-slide-nav ul li, .wellness-slide-nav-mobile ul li { width: 44px; margin-right: 8px; }
  .wellness-slide-nav ul li.active, .wellness-slide-nav-mobile ul li.active { width: 300px; } }

.wellness-slide-nav.slide-nav--tab li.active .wellness-slide-nav-item .progress .bar, .wellness-slide-nav-mobile.slide-nav--tab li.active .wellness-slide-nav-item .progress .bar { width: 100%; }

@media screen and (max-width: 1023px) { .wellness-slide-nav.slide-nav--tab li, .wellness-slide-nav-mobile.slide-nav--tab li { width: 52px; }
  .wellness-slide-nav.slide-nav--tab li.active, .wellness-slide-nav-mobile.slide-nav--tab li.active { width: 148px; } }

@media screen and (max-width: 767px) { .wellness-slide-nav.slide-nav--tab li, .wellness-slide-nav-mobile.slide-nav--tab li { width: 13.5%; margin-right: 2.5%; }
  .wellness-slide-nav.slide-nav--tab li.active, .wellness-slide-nav-mobile.slide-nav--tab li.active { width: 69%; } }

.wellness-slide-nav[data-theme="dark"] .wellness-slide-nav-item, .wellness-slide-nav-mobile[data-theme="dark"] .wellness-slide-nav-item { color: #000; }

.wellness-slide-nav[data-theme="dark"] .wellness-slide-nav-item .progress, .wellness-slide-nav-mobile[data-theme="dark"] .wellness-slide-nav-item .progress { background: rgba(0, 0, 0, 0.1); }

.wellness-slide-nav[data-theme="dark"] .wellness-slide-nav-item .progress .bar, .wellness-slide-nav-mobile[data-theme="dark"] .wellness-slide-nav-item .progress .bar { background: #000; }

.wellness-slide-nav-item { color: #fff; width: 100%; height: 30px; position: relative; display: flex; overflow: hidden; }

.wellness-slide-nav-item .no { display: block; font-family: CeraPro, sans-serif; font-weight: 600; line-height: 16px; font-size: 16px; }

.wellness-slide-nav-item .label { font-size: 14px; line-height: 16px; overflow: hidden; display: block; left: 26px; position: absolute; top: 0; right: 100%; transition: right 500ms cubic-bezier(0.77, 0, 0.175, 1); height: 16px; }

.wellness-slide-nav-item .progress { display: block; position: absolute; left: 0; right: 0; bottom: 0; height: 2px; background: rgba(255, 255, 255, 0.5); }

.wellness-slide-nav-item .progress .bar { display: block; position: absolute; left: 0; top: 0; bottom: 0; background: #fff; width: 0%; }

@media screen and (max-width: 1023px) { .wellness-slide-nav-item { height: 26px; }
  .wellness-slide-nav-item .no { font-size: 14px; }
  .wellness-slide-nav-item .label { font-size: 12px; } }

.wellness-thumb-mobile { position: relative; width: 270px; height: 352px; margin: 0 auto; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); }

.wellness-thumb-mobile .book { position: absolute; z-index: 3; bottom: 0; left: 0; overflow: hidden; opacity: 0; visibility: hidden; }

.wellness-thumb-mobile .book.prev, .wellness-thumb-mobile .book.current { opacity: 1; visibility: visible; z-index: auto; }

.wellness-thumb-mobile .book.current { z-index: 4; }

.wellness-thumb-mobile .book.first { opacity: 1; visibility: visible; z-index: 4; }

.wellness-thumb-mobile .book img { max-width: none; }

@media screen and (max-width: 1023px) { .wellnessbook-header-desktop { display: none; } }

@media screen and (min-width: 1024px) { .wellnessbook-header-mobile { display: none; } }

.home-section-product { overflow: hidden; }

.home-section-product .product-list .swiper-container { overflow: visible; }

.home-section-product .product-list .swiper-container .swiper-wrapper { cursor: url(../../img/common/mouse-slide.svg) 50 50, auto !important; }

.home-section-product .product-list .swiper-slide { width: 440px; }

@media screen and (max-width: 1280px) { .home-section-product .product-list .swiper-slide { width: 328px; } }

@media screen and (max-width: 1023px) { .home-section-product .product-list .swiper-slide { width: 200px; } }

@media screen and (max-width: 767px) { .home-section-product .product-list .swiper-slide { width: 134px; } }

.home-section-product .product-list-item a { cursor: url(../../img/common/mouse-slide.svg) 50 50, auto !important; }

.product-list-item .tb { margin-bottom: 30px; width: 440px; height: 440px; position: relative; overflow: hidden; display: block; -webkit-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); -ms-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); -o-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); }

.product-list-item .tb img { position: relative; display: block; -webkit-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); -ms-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); -o-transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); width: 100%; }

.product-list-item .tb:hover { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9); }

.product-list-item .tb:hover img { -webkit-transform: scale(1.11); -moz-transform: scale(1.11); -ms-transform: scale(1.11); -o-transform: scale(1.11); transform: scale(1.11); }

@media screen and (max-width: 1280px) { .product-list-item .tb { width: 328px; height: 328px; } }

@media screen and (max-width: 1023px) { .product-list-item .tb { width: 200px; height: 200px; } }

@media screen and (max-width: 767px) { .product-list-item .tb { width: 134px; height: 134px; } }

.product-list-item .product-name { font-size: 24px; line-height: 1.66667em; margin-bottom: 12px; font-weight: 500; }

.product-list-item .price { display: flex; font-size: 18px; color: #666; }

.product-list-item .price .num { font-family: 'CeraPro'; display: block; margin-right: 2px; line-height: 18px; }

.product-list-item .price .unit { display: block; line-height: 16px; }

@media screen and (max-width: 1280px) { .product-list-item .tb { margin-bottom: 24px; } }

@media screen and (max-width: 1023px) { .product-list-item .tb { margin-bottom: 16px; }
  .product-list-item .product-name { font-size: 15px; margin-bottom: 10px; line-height: 1.46667em; }
  .product-list-item .price { font-size: 14px; }
  .product-list-item .price .unit { font-size: 13px; } }

@media screen and (max-width: 767px) { .product-list-item .tb { margin-bottom: 12px; } }

.no-touchevents .product-list-item .tb:before { transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); will-change: transform; }

.no-touchevents .product-list-item .tb:hover:before { transform: translate(-50%, -50%) scale(0.9); }

.home-section-event { background: #f0f0f0; padding-bottom: 120px; }

@media screen and (max-width: 767px) { .event-list { padding-top: 50px; } }

.event-list ul { position: relative; display: flex; margin: -30px; flex-wrap: wrap; }

.event-list ul li { width: 50%; padding: 30px; padding-top: 0px; box-sizing: border-box; padding-bottom: 120px; }

@media screen and (max-width: 1280px) { .event-list ul { margin: -20px; }
  .event-list ul li { padding: 20px; padding-bottom: 70px; } }

@media screen and (max-width: 1023px) { .event-list ul { margin: -14px; }
  .event-list ul li { padding: 14px; padding-bottom: 60px; } }

@media screen and (max-width: 767px) { .event-list ul { margin: -8px; }
  .event-list ul li { padding: 8px; padding-bottom: 40px; } }

.event-list-item .tb { display: block; margin-bottom: 30px; overflow: hidden; }

.event-list-item .tb img { width: 100%; display: block; }

.event-list-item .desc .event-title { font-size: 24px; line-height: 1.66667em; margin-bottom: 18px; font-weight: 500; }

.event-list-item .desc .date { display: block; font-family: 'CeraPro'; font-weight: 400; font-size: 18px; color: #666; }

@media screen and (max-width: 1280px) { .event-list-item .tb { margin-bottom: 24px; } }

@media screen and (max-width: 1023px) { .event-list-item .tb { margin-bottom: 16px; }
  .event-list-item .desc .event-title { font-size: 15px; margin-bottom: 10px; line-height: 1.46667em; }
  .event-list-item .desc .date { font-size: 14px; } }

@media screen and (max-width: 767px) { .event-list-item .tb { margin-bottom: 12px; } }

.no-touchevents .event-list-item .tb img { transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); will-change: transform; }

.no-touchevents .event-list-item .tb:hover img { transform: scale(1.125); }

.home-section-sns { overflow: hidden; background: #f4f4f4; }

.home-section-sns .sns-list .swiper-container { overflow: visible; }

.home-section-sns .sns-list .swiper-container .swiper-wrapper { cursor: url(../../img/common/mouse-slide.svg) 50 50, auto !important; }

.home-section-sns .sns-list .swiper-slide { width: 380px; }

@media screen and (max-width: 1280px) { .home-section-sns .sns-list .swiper-slide { width: 290px; } }

@media screen and (max-width: 1023px) { .home-section-sns .sns-list .swiper-slide { width: 190px; } }

@media screen and (max-width: 767px) { .home-section-sns .sns-list .swiper-slide { width: 128px; } }

.home-section-sns .sns-list-item a { cursor: url(../../img/common/mouse-slide.svg) 50 50, auto !important; }

.sns-list-item a { display: block; overflow: hidden; }

.sns-list-item img { display: block; width: 100%; }

.sns-list .swiper-slide:nth-child(4n + 1) .sns-list-item { margin-top: 7.89474%; }

.sns-list .swiper-slide:nth-child(4n + 2) .sns-list-item { margin-top: 21.05263%; }

.sns-list .swiper-slide:nth-child(4n + 3) .sns-list-item { margin-top: 0%; }

.sns-list .swiper-slide:nth-child(4n + 4) .sns-list-item { margin-top: 36.84211%; }

.no-touchevents .sns-list-item a img { transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1); will-change: transform; }

.no-touchevents .sns-list-item a:hover img { transform: scale(1.125); }

/* home-main-slider */
.home-main-slider .slide-item .slide-bg .slide-bg-over { background: rgba(0, 0, 0, 0); }

/* home-section-event, home-section-brand */
.home-section-event.home-section .container, .home-section-brand.home-section .container { max-width: 1920px; }

/* home-section-brand */
@media screen and (min-width: 1921px) { .home-section-brand .brand-images { width: 584px; height: 730px; }
  .home-section-brand .brand-images .image-l { width: 290px; height: 364px; }
  .home-section-brand .brand-images .image-l .brand .img { width: 290px; }
  .home-section-brand .brand-images .image-c { width: 584px; height: 730px; }
  .home-section-brand .brand-images .image-c .brand .img { width: 584px; }
  .home-section-brand .brand-images .image-r { width: 290px; height: 364px; }
  .home-section-brand .brand-images .image-r .brand .img { width: 290px; }
  .home-section-brand .brand-images .btn-more { width: 194px; height: 194px; margin-top: 70px; margin-left: 194px; }
  .home-section-brand .brand-images .btn-more .label { font-size: 18px; }
  .home-section-brand .brand-images .btn-more .arrow { width: 56px; height: 21px; } }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .image-l { margin-right: 2.8646vw; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .image-l { margin-right: 0; } }

@media screen and (max-width: 1023px) { .home-section-brand .brand-images .image-r { margin-left: 2.8646vw; } }

@media screen and (max-width: 767px) { .home-section-brand .brand-images .image-r { margin-right: 0; } }

/* home-section-product, home-section-sns */
.home-section-product.home-section .container, .home-section-sns.home-section .container { padding: 0 80px !important; }

@media screen and (max-width: 1280px) { .home-section-product.home-section .container, .home-section-sns.home-section .container { padding: 0 52px !important; } }

@media screen and (max-width: 1023px) { .home-section-product.home-section .container, .home-section-sns.home-section .container { padding: 0 5.98958vw !important; } }

@media screen and (max-width: 767px) { .home-section-product.home-section .container, .home-section-sns.home-section .container { padding: 0 6.93333vw !important; } }

.home-section-product.home-section .home-section-header, .home-section-sns.home-section .home-section-header { padding: 0 13.54167vw; width: 100%; max-width: 1920px; box-sizing: border-box; margin: 0 auto 120px; }

@media screen and (min-width: 1921px) { .home-section-product.home-section .home-section-header, .home-section-sns.home-section .home-section-header { padding: 0 260px; } }

@media screen and (max-width: 1280px) { .home-section-product.home-section .home-section-header, .home-section-sns.home-section .home-section-header { padding: 0 9.375vw; margin-bottom: 80px; } }

@media screen and (max-width: 1023px) { .home-section-product.home-section .home-section-header, .home-section-sns.home-section .home-section-header { padding: 0 5.98958vw; margin-bottom: 70px; } }

@media screen and (max-width: 767px) { .home-section-product.home-section .home-section-header, .home-section-sns.home-section .home-section-header { padding: 0 6.93333vw; margin-bottom: 50px; } }

/*# sourceMappingURL=home.all.css.map */