@import '_var.scss';

/*///////////////////////////////*/
/*=== Loading BODY ===================*/
body.before-load{
    // position: fixed; 
    // left: 0; top: 0; right: 0; bottom: 0;
    // overflow: hidden;
    .page-wrap{
        transition: 500ms $ease-quart-out;
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    .section-nav{
        transform: translate3d(0,-$nav-height,0);
    }
}

body.loaded{
    .page-wrap{
        transition: 1s cubic-bezier(.6,0,0,1);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .section-nav{
        transition: 1s $ease-quart-out .5s;
        transform: translate3d(0,0,0);
    }
}


/*//////////////////////////////////////*/
/*=== Billboard TEXT ===================*/
.h1-billboard_title{ visibility: hidden;}
.h1-billboard_title.is-active{ visibility: visible;}

/*//////////////////////////////////////*/
/*=== Common Motion ===================*/
[data-stagger],
[data-stagger-alpha],
[data-stagger-y],
[data-stagger-batch] {
    opacity: 0;
}
[data-stagger-y],
[data-stagger-batch]
{
    transform: translate3d(0,80px,0);
}


/*//////////////////////////////////////*/
/*=== From Our Newsroom ===================*/
/* 
처음엔 안보이게 설정 ... 특정 시점에 등장 모션 적용
*/
.section-news{
    .news_item{
        transform: translate3d(0,80px,0);
        opacity: 0;
        transition: 1.5s cubic-bezier();
        
        .news_item-link{
            transition: 300ms $ease-standard;
        }
    }
    .news_item:hover{
        .news_item-link{
            transform: translate3d(0,-20px,0);
            transition: 400ms $ease-standard;
        } 
    }
    .news_item.is-active{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

/*///////////////////////////////*/
/*=== Show now ===================*/
/*
마우스 따라다니는 효과를 위해 
*/
.img-arrow-wrap{ pointer-events: none;}



