@import '_var.scss';

/*///////////////////////////////*/
/*=== Loading BODY ===================*/
body.before-load{
    // position: fixed; 
    // left: 0; top: 0; right: 0; bottom: 0;
    // overflow: hidden;
    .page-wrap{
        transition: 500ms $ease-quart-out;
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    .section-nav{
        transform: translate3d(0,-$nav-height,0);
    }
}

body.loaded{
    .page-wrap{
        transition: 1s cubic-bezier(.6,0,0,1);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .section-nav{
        transition: 1s $ease-quart-out 1s;
        transform: translate3d(0,0,0);
    }
}


/*//////////////////////////////////////*/
/*=== Billboard TEXT ===================*/
.h1-billboard_title{ visibility: hidden;}
.h1-billboard_title.is-active{ visibility: visible;}

/*//////////////////////////////////////*/
/*=== Common Motion ===================*/
[data-stagger],
[data-stagger-alpha],
[data-stagger-y],
[data-stagger-batch] { opacity: 0; }
[data-stagger-y],
[data-stagger-batch] { transform: translate3d(0,100px,0); }

/*//////////////////////////////////////*/
/*=== From Our Newsroom ===================*/
/* 
처음엔 안보이게 설정 ... 특정 시점에 등장 모션 적용
*/
.section-news{
    .news_item{
        transform: translate3d(0,80px,0);
        opacity: 0;
        transition: 1.5s cubic-bezier();
        
        .news_item-link{
            transition: 300ms $ease-standard;
        }
    }
    .news_item:hover{
        .news_item-link{
            transform: translate3d(0,-20px,0);
            transition: 400ms $ease-standard;
        } 
    }
    .news_item.is-active{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

/*///////////////////////////////*/
/*=== Show now ===================*/
/* 마우스 따라다니는 효과를 위해  */
.img-arrow-wrap{ pointer-events: none;}


/*//////////////////////////////////////*/
/*=== For Mobile ===================*/
// .m_ham{
//     background-color: transparent;
// }

.m_nav-wrap{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    transition: clip-path 450ms $ease-material 100ms;
    transform: translate3d(0,0,0);
    // background-color: rgba(255,255,255,.5);
}

.m_nav-wrap.is-active{
    // visibility: visible;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path 500ms $ease-standard;
}


@keyframes arrow-bottom {
    0%{ transform: translate3d(0,0,0); animation-timing-function: cubic-bezier(0.33,0,0.1,1); }
    50%{ transform: translate3d(0,10px,0); animation-timing-function: cubic-bezier(0.6,0,0.4,1); }
    100%{ transform: translate3d(0,0,0); }
}
.m_arrow-bottom{ opacity: 0; transform: translate3d(0,-20px,0); transition: 500ms $ease-standard;}
.m_arrow-bottom.is-active{
    opacity: 1;
    transform: translate3d(0,0,0);
    img{ animation: arrow-bottom 1s infinite; }
}
