@charset "UTF-8";
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

:root {
  --vh: 1vh;
}

body {
  -webkit-transition: 300ms;
  transition: 300ms;
  will-change: background-color;
}

body.is-blue {
  background-color: #0030ff;
}

body.is-white {
  background-color: white;
}

body.fixed {
  position: fixed;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

body.fixed .page-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

.is-hide {
  display: none;
}

.is-overflow-hidden {
  overflow: hidden;
}

/*//////////////////////////////////////*/
/*=== loading ===================*/
.loading.before-load {
  opacity: 1;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loading-circle {
  width: 80px;
  height: 80px;
  -webkit-animation: circle-rotate 1.5s linear infinite;
          animation: circle-rotate 1.5s linear infinite;
}

@-webkit-keyframes circle-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading-circle circle {
  stroke: #0030ff;
  stroke-width: 2;
  fill: none;
  /*getTotalLength() 로 둘레길이를 얻을 수 있음*/
  stroke-dasharray: 188;
  stroke-dashoffset: 0;
  -webkit-animation: circle-dashoffset 1.8s linear infinite;
          animation: circle-dashoffset 1.8s linear infinite;
}

@-webkit-keyframes circle-dashoffset {
  0% {
    stroke-dashoffset: 185;
  }
  100% {
    stroke-dashoffset: -185;
  }
}

@keyframes circle-dashoffset {
  0% {
    stroke-dashoffset: 185;
  }
  100% {
    stroke-dashoffset: -185;
  }
}

/*///////////////////////////////*/
/*=== Navi PC ===================*/
.section-nav {
  -webkit-transition: 500ms cubic-bezier(0.33, 0.45, 0, 1);
  transition: 500ms cubic-bezier(0.33, 0.45, 0, 1);
}

.section-nav.is-blured {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.section-nav.is-scrolldown {
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.nav_smn-link {
  -webkit-transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
  transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
}

.nav_smn-link.is-disactive {
  color: #b3b3b3;
}

.nav_link.is-active {
  color: #0078ff;
}

.nav_list > .nav_item.is-active .nav_link {
  color: #0078ff;
}

/*///////////////////////////////*/
/*=== HOME : History ===================*/
.history-slider_link {
  position: relative;
  width: 100%;
  height: 100%;
}

.history-slider_link div {
  pointer-events: none;
}

.history-slider_link .history-slider_item-txt {
  -webkit-transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
  transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
}

.history-slider_link:hover .history-slider_item-txt {
  opacity: 1;
  -webkit-transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
  transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
}

/*///////////////////////////////*/
/*=== HOME : Service ===================*/
.home-service_item.is-active .home-service_mn {
  opacity: 1;
}

.home-service_item.is-active .home-service_mn-underline {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home-service_item div {
  pointer-events: none;
  -webkit-transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
  transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
}

/*//////////////////////////////////////*/
/*=== From Our Newsroom ===================*/
.news_item .news_item-link {
  -webkit-transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
  transition: 200ms cubic-bezier(0.33, 0.45, 0, 1);
}

.news_item:hover .news_item-link {
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
  -webkit-transition: 400ms cubic-bezier(0.33, 0.45, 0, 1);
  transition: 400ms cubic-bezier(0.33, 0.45, 0, 1);
}

.news_item.is-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

/*///////////////////////////////*/
/*=== About > History ===================*/
/*=== ourstory 하단 인디케이터 ===================*/
.ourstory-indi_border {
  width: calc(50vw - 720px);
}

.ourstory-indi {
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0.7, 0.4);
  transition: 0.3s cubic-bezier(0.3, 0, 0.7, 0.4);
  will-change: transform;
}

.ourstory-indi.is-active {
  -webkit-transition: 0.5s cubic-bezier(0.33, 0.45, 0, 1);
  transition: 0.5s cubic-bezier(0.33, 0.45, 0, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.ourstory-indi_item div {
  pointer-events: none;
}

/*//////////////////////////////////////*/
/*=== 뉴스룸 로드모어 ===================*/
.bt_loadmore:hover {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.bt_loadmore:hover .bt_loadmore_bg {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
  -webkit-transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.bt_loadmore .bt_loadmore_bg {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: 250ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: 250ms cubic-bezier(0.25, 1, 0.5, 1);
}

/*//////////////////////////////////////*/
/*=== For Mobile ===================*/
.m_nav-link.is-active {
  color: #0078ff;
}

.m_nav-link_smn.is-active {
  color: #0078ff;
}

.m_billboard_img-wrap {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.m_billboard_img-wrap video {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -o-object-fit: cover;
     object-fit: cover;
}

.m_growth_lottie-area > svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*///////////////////////////////*/
/*=== odometer ===================*/
.odometer.odometer-auto-theme {
  display: inline-block;
  position: relative;
}

.odometer.odometer-auto-theme .odometer-digit {
  display: inline-block;
  position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon {
  display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner {
  display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value {
  display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.odometer.odometer-auto-theme .odometer-value {
  text-align: center;
}

.odometer.odometer-auto-theme {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}
/*# sourceMappingURL=style.css.map */