@import '_var.scss';


html {
    // -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}

:root{ --vh: 1vh;}

body { transition: 300ms; will-change: background-color;}
body.is-blue { background-color: $body-blue; }
body.is-white{ background-color: white;}
body.fixed{
    position: fixed;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    .page-wrap{
        position: fixed; left: 0; top: 0; right: 0; bottom: 0;
        width: 100vw;
    }
}

a { color: inherit; text-decoration: none; } // 링크 태그 리셋
.is-hide { display: none; }                  
.is-hidden{ visibility: hidden; }     
.is-overflow-hidden{ overflow: hidden; }
.is-ellipsis{                               // 3줄 이상 말 줄임표 넣기 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/*//////////////////////////////////////*/
/*=== loading ===================*/
.loading.before-load { opacity: 1; }
.loading { pointer-events: none; opacity: 0; transition: 0.3s; }
.loading-circle {
    width: 80px; height: 80px;
    animation: circle-rotate 1.5s linear infinite;
}

@keyframes circle-rotate {
    100% { transform: rotate(360deg) }
}

.loading-circle circle {
    stroke: $body-blue; stroke-width: 2; fill: none;
    /*getTotalLength() 로 둘레길이를 얻을 수 있음*/
    stroke-dasharray: 180; stroke-dashoffset: 0;
    animation: circle-dashoffset 1.8s linear infinite;
}

@keyframes circle-dashoffset {
    0% { stroke-dashoffset: 180 }
    100%{ stroke-dashoffset: -180 }
}


/*///////////////////////////////*/
/*=== Navi PC ===================*/
.section-nav{transition: 500ms $ease-standard; }
.section-nav.is-blured{ background-color: rgba(0,0,0,.4); backdrop-filter: blur(4px); }
.section-nav.is-scrolldown{ transform: translate3d(0,-$nav-height,0); }

.nav_smn-link { transition: 200ms $ease-standard; }
.nav_smn-link.is-disactive { color: $smn-inactive-color; }      // 투뎁스 비활성화 색상
.nav_link.is-active { color: $mn-active-color; }                // 원뎁스 활성화 색상

.nav_list > .nav_item.is-active .nav_link{ color: $mn-active-color; }

/*///////////////////////////////*/
/*=== HOME : History ===================*/

.section-history{
    .history-slider_link{
        position: relative;
        width: 100%; height: 100%;;
        div{ pointer-events: none;}
    }

    .history-slider_link{
        .history-slider_item-txt{
            // opacity: 1; 
            transition: 200ms $ease-standard;
        }
        .mu24-150{
            transform: translate3d(0,-20px,0);
            transition: transform 300ms $ease-standard;
        }
        .cms-history_richtext{
            transform: translate3d(0,20px,0);
            transition: transform 300ms $ease-standard;
        }
    }

    .history-slider_link:hover{
        .history-slider_item-txt{ opacity: 1; }
        .mu24-150{ transform: translate3d(0,0,0); }
        .cms-history_richtext{ transform: translate3d(0,0,0); }
    }
}


/*///////////////////////////////*/
/*=== HOME : Service ===================*/
// .section-service{
//     padding-top: min(270px, 50vh);
//     padding-bottom: min(270px, 50vh);
// }
.home-service_item.is-active .home-service_mn { opacity: 1; }
.home-service_item.is-active .home-service_mn-underline { transform: scale(1); }

.home-service_item  {
    div{
        // pointer-events: none;
        transition: 200ms $ease-standard;
    }
}

/*//////////////////////////////////////*/
/*=== From Our Newsroom ===================*/
.history-slider_item-txt{ pointer-events: none ;}
.news_item{
    .news_item-link{
        transition: 200ms $ease-standard;
    } 
}
.news_item:hover{
    .news_item-link{
        transform: translate3d(0,-20px,0);
        transition: 400ms $ease-standard;
    } 
}
.news_item.is-active{
    transform: translate3d(0,0,0);
    opacity: 1;
}

/*///////////////////////////////*/
/*=== About > History ===================*/
/*=== ourstory 하단 인디케이터 ===================*/
.ourstory-indi_border { width: calc(50vw - 720px); }
.ourstory-indi { transition: 0.3s $ease-exit; will-change: transform; }
.ourstory-indi.is-active {
    transition: 0.5s $ease-standard;
    transform: translate3d(0, 0, 0);
}
.ourstory-indi_item {
    div{ pointer-events: none; }
}

/*///////////////////////////////*/
/*=== History 연혁 타이틀 ===================*/
.cms-history_richtext strong,
.m_cms-history_richtext strong{
	font-weight: normal;
    color: white;
} 


.section-history{
    .cms-history_richtext p{
        font-size: 40px;
        line-height: 150%;
        color: 6e6e6e;
    }
    .cms-history_richtext strong {
        font-weight: normal;
        color: black;
    }
}

.m_section-history{
    .m_cms-history_richtext p{
        font-size: 20px;
        line-height: 150%;
        color: 6e6e6e;
    }
    .m_cms-history_richtext strong {
        font-weight: normal;
        color: black;
    }
}



/*//////////////////////////////////////*/
/*=== 뉴스룸 로드모어 ===================*/
.bt_loadmore:hover { transform: rotateZ(180deg); transition: 500ms cubic-bezier(0.25, 1, 0.5, 1); }
.bt_loadmore:hover .bt_loadmore_bg { transform: scale3d(1.2, 1.2, 1.2); transition: 500ms cubic-bezier(0.25, 1, 0.5, 1); }
.bt_loadmore .bt_loadmore_bg { transform: scale3d(1, 1, 1); transition: 250ms cubic-bezier(0.25, 1, 0.5, 1); }



/*//////////////////////////////////////*/
/*=== For Mobile ===================*/
.m_nav-link.is-active{ color: $mn-active-color}
.m_nav-link_smn.is-active{ color: $mn-active-color}
.m_ham svg{ position: absolute; }


.m_billboard_img-wrap{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    video{
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        object-fit: cover;
    }
}

// .canvas-video{ position: absolute; left:0; right:0; top:0; bottom:0; width: 100%; }
.canvas-video > video {
    position: relative; 
    // width: 100%; 
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
    opacity: 0;
    object-fit: cover;
    z-index: -1;
}

.canvas-video > canvas {
    display: block; 
    width: auto; 
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute; top: 50%; left: 50%; right: 0;  bottom: 0;
    transform: translate(-50%, -50%);
}
.canvas-video .video_poster {
    display: block; 
    position: absolute; 
    width: auto;  
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    object-fit: cover;
}
.canvas-video.is-active .video_poster { display: none; }

.m_growth_lottie-area > svg { position: absolute; left: 0; top: 0; }

/*=== 정책 문서 불러오기 :: 웹플로우에서 엘리먼트 직접 만들었음 ===================*/
// .popup{
//     width: 100%; 
//     height: 100vh;
//     max-width: 768px;
//     position: fixed; z-index: 1000;
//     left: 0; top: 0; right: 0; bottom: 0;
//     background-color: rgba(0,0,0,1);
//     transform: translate3d(0,100%,0);
//     margin: 0 auto;

//     .terms, .privacy{ position: relative; z-index: 1; width: 100%; height: 100%; overflow: scroll;}
//     .btn-close{ position: absolute; right: 10px; top: 10px; z-index: 2; }
// }

/*///////////////////////////////*/
/*=== odometer ===================*/
.odometer.odometer-auto-theme{ display: inline-block; position: relative; }
.odometer.odometer-auto-theme .odometer-digit { display: inline-block; position: relative; }
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer{ display: inline-block; visibility: hidden; }
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner { text-align: left; display: block; position: absolute; top: 0; left: 0;  right: 0; bottom: 0; overflow: hidden; }
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon { display: block; }
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner{ display: block; }
.odometer.odometer-auto-theme .odometer-digit .odometer-value{ display: block; }
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value { position: absolute; }
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner { transition: transform 2s; }
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner { transform: translateY(-100%); }
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner { transform: translateY(-100%); }
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner { transition: transform 2s; transform: translateY(0); }
.odometer.odometer-auto-theme .odometer-value { text-align: center; }
.odometer.odometer-auto-theme {
    font-family: "Helvetica Neue", sans-serif;
    // font-family: Musinsaot, sans-serif;
    // font-weight: 500;
    // margin-left: -10px;
    line-height: 1.1em;
}


